<span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span>
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="card-header border-0 pt-6">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                      
                        <!--end::Search-->
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Toolbar-->
                        <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                            <!--begin::Filter-->
                          
                            <!--end::Menu 1-->
                            <!--end::Filter-->
                            
                            <!--begin::Add user-->
                      
                            <!--end::Add user-->
                        </div>
                        <!--end::Toolbar-->
                        
                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body py-4">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                <th class="min-w-120px">Nombre Completo del USUARIO</th>
                                <th class="min-w-140px">Forma de pago del plan</th>
                                <th class="min-w-125px">Fecha de inicio sub</th>
                                <th class="min-w-125px">Fecha de fin de sub</th>
                                <th class="min-w-125px">Precio</th>
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="text-gray-600 fw-bold">
                            <!--begin::Table row-->
                            <ng-container *ngFor="let USUARIO of USUARIOS"
                            >
                                <tr>
                                    <!--begin::Role=-->
                                    <td>
                                        <!--begin::User details-->
                                        <div class="d-flex flex-column">
                                            <a href="#" onclick="return false;" class="text-gray-800 text-hover-primary mb-1">{{ USUARIO.user_name }}</a>
                                            
                                        </div>
                                        <!--begin::User details-->
                                    </td>

                                   
                                    <!--end::Role=-->
                                    <!--begin::Two step=-->
                                    
                                    <td>{{ getType(USUARIO.type_plan)}}</td>
                                    <td>{{ USUARIO.start_date }}</td>
                                    <td>{{ USUARIO.end_date }}</td>
                                    <!--end::Two step=-->
                                    <!--begin::Joined-->
                                    <td>{{ USUARIO.price }}</td>
                                    <!--begin::Joined-->
                                    <!--begin::Action=-->
                                 
                                </tr>
                            </ng-container>
                            
                            <!--end::Table row-->
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->